<div class="bar bar-header bar-stable" style="padding-top: 8px">
    <button class="button button-clear button-stable margin" ng-click="go('Master.clientes')">
        <i class="ion-ios-list-outline"></i> &nbsp;Listagem
    </button>
</div>

<ion-content class="wrapper container" style="margin-top: 50px">
    
    <center>
        <div class="list" style="max-width: 400px">
            <h4>Dados pessoais</h4>
            <label class="item item-input">
                <input type="text" placeholder="Nome">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="CPF">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Telefone">
            </label>
        </div>

        <div class="list" style="max-width: 400px">
            <h4>Empresa</h4>
            <label class="item item-input">
                <input type="text" placeholder="Nome">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="CNPJ">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Endereço">
            </label>
        </div>

        <div class="list" style="max-width: 400px">
            <h4>Outros dados</h4>
            <label class="item item-input">
                <input type="text" placeholder="Renda">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Número">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Qualquer coisa">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Outra coisa">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Aleatório">
            </label>
        </div>

        <div class="list" style="max-width: 400px">
            <button class="button button-block button-positive">
                Salvar
            </button>
        </div>
        <br>
        <br>
    </center>

</ion-content>